
@{
    ViewBag.Title = "Index";
}

<h2>Student List</h2>
<button type="button" class="btn btn-success"><a href="~/Student/Create"> Add Student</a></button>
<table class="table">
  <thead>
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
      </tr>
  </thead>
  <tbody>
      @foreach (var p in Model)
      {
          <tr>
              <th scope="row">@p.Id</th>
              <td>@p.Name</td>
              <td>@p.Email</td>
              <td>@p.Address</td>
              <td><button type="button" class="btn btn-warning"><a href="~/Student/Update/@p.Id">Update</a></button></td>
              <td><button type="button" class="btn btn-danger"><a href="~/Student/Delete/@p.Id">Delete</a></button></td>
          </tr>
      }
         
      </tbody>
</table>

