@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <header>
        <button><a href="https://localhost:44365/Profile/Home">Home</a></button>
        <button><a href="https://localhost:44365/Profile/Personal">Personal</a></button>
        <button><a href="https://localhost:44365/Profile/Education">Education</a></button>
        <button><a href="https://localhost:44365/Profile/Projects">Projects</a></button>
        <button><a href="https://localhost:44365/Profile/Reference">Reference</a></button>
    </header>
        
    
    <div>
        <h1>
            My Education Background
        </h1>
        <h3>SSC</h3>
        <p><b>Instituition:</b>A.K High School and College</p>
        <p><b>Result:</b>GPA 5</p>
        <br />
        <h3>HSC</h3>
        <p><b>Instituition:</b>Notre Dame College,Dhaka</p>
        <p><b>Result:</b>GPA 5</p>
        <br />
        <h3>BSC in CSE</h3>
        <p><b>Instituition:</b>AIUB</p>
        <p><b>Result:</b>CGPA 3.91 (running)</p>
    </div>
</body>
</html>
