@{
    Layout = null;
}
@{
    ViewBag.Title = "Profile";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <header>
        <button><a href="https://localhost:44365/Profile/Home">Home</a></button>
        <button><a href="https://localhost:44365/Profile/Personal">Personal</a></button>
        <button><a href="https://localhost:44365/Profile/Education">Education</a></button>
        <button><a href="https://localhost:44365/Profile/Projects">Projects</a></button>
        <button><a href="https://localhost:44365/Profile/Reference">Reference</a></button>
    </header>
    <div>
        <h1>
            About me
        </h1>
        <p>Hello my name is <b>Noor Mohammad Talukder Rokan</b></p>I am from Jatrabari,Dhaka. I like to watch cricket.Currently I am Studying at AIUB.
    </div>
</body>
</html>
