@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <header>
        <button><a href="https://localhost:44365/Profile/Home">Home</a></button>
        <button><a href="https://localhost:44365/Profile/Personal">Personal</a></button>
        <button><a href="https://localhost:44365/Profile/Education">Education</a></button>
        <button><a href="https://localhost:44365/Profile/Projects">Projects</a></button>
        <button><a href="https://localhost:44365/Profile/Reference">Reference</a></button>
    </header>
    <div>
        <h1>
            My Projects
        </h1>
        <h3>Advance Programming in Web Technology</h3>
        <p><b>Utility Service Provider System</b></p>
        <br />

        <h3>Computer Graphics </h3>
        <p><b>Covid 19 Hospital Scenerion</b></p>
        <br />

        <h3>Data Base Management System</h3>
        <p><b>Coffe Shop Management System</b></p>
        <br />

    </div>
</body>
</html>
